*{
	padding:0;
	margin:0;
	list-style:none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
#container{
	margin:40px 30%;
	font-size:24px;
	padding:40px;
	width:600px;
}
#book_name,#author{
	width:400px;
	height:50px;
	margin-bottom:20px;
}
#files{
	padding:4px;
	font-size:24px;
	margin-bottom:20px;
}
#content_detil{
	min-height:200px;
	margin-bottom:20px;
}
#sendbook,#back{
	font-size:26px;
	padding:6px;
	margin-left:120px;
}
#title_img{
	width: 150px;
	height: 200px;
	background-color: #ccc;
	margin:0 auto;
}
#title_img img{
	width: 150px;
	height: 200px;
}
*{
	padding:0;
	margin:0;
	list-style:none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
#chapter_box{
	margin:80px 30%;
	font-size:24px;
	padding:40px;
	width:900px;
	display: none;
}
#y_chapter{
	width:400px;
	height:50px;
	margin-bottom:70px;
}
#y_area{
	width:400px;
	min-height:200px;
	margin-bottom:24px;
	font-size:24px;
	/*font-family:"微软雅黑";*/

}
button{
	margin-left:120px;
}
#y_btn,#y_back{
	font-size:26px;
	padding:6px;
}
#iframe-wrap h1{
	display:none;
}
.wysiwyg-editor{
	min-height:200px;
}
#editor1{
	width: 600px;
	height: 200px;
	overflow-y: auto;
	border:solid #000 1px;
}