*{
	padding:0;
	margin:0;
	list-style:none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom: 1;
}
#container{
	margin:40px 30%;
	font-size:24px;
	padding:40px;
	width:600px;
}
/*上传头像*/
#imgPreview {
	width: 20%;
	height: 180px;
	border-radius: 50%;
	margin: 10px auto 20px auto;
	text-align: center;
}
#prompt3 {
	width: 100%;
	height: 180px;
	text-align: center;
	position: relative;
	background: url('https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3281196885,1779237671&fm=26&gp=0.jpg') no-repeat center;
	/*display: none;*/
	background-size: 100% 100%;
}
#files {
	width: 100%;
	height: 100%;
	opacity: 0;
}
#user_img{
	width: 100%;
	height: 100%;
}
#img3 {
	height: 100%;
	width: 100%;
}
/**/
#book_name,#author{
	width:400px;
	height:50px;
	margin-bottom:20px;
}
#content_detil{
	min-height:200px;
	margin-bottom:20px;
}
#sendbook,#back{
	font-size:26px;
	padding:6px;
	margin-left:120px;
}
#chapter_box{
	margin:80px 30%;
	font-size:24px;
	padding:40px;
	width:900px;
	display: none;
}
#y_chapter{
	width:400px;
	height:50px;
	margin-bottom:70px;
}
#y_area{
	width:400px;
	min-height:200px;
	margin-bottom:24px;
	font-size:24px;
	/*font-family:"微软雅黑";*/

}
button{
	margin-left:120px;
}
#y_btn,#y_back{
	font-size:26px;
	padding:6px;
}
#iframe-wrap h1{
	display:none;
}
.wysiwyg-editor{
	min-height:200px;
}
#editor1{
	width: 600px;
	height: 200px;
	overflow-y: auto;
	border:solid #000 1px;
}